<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="GraphQL ReadyMade Web" />
<meta name="author" content="Dolev F." />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<link href="/static/all.css" rel="stylesheet">
<link rel="stylesheet" href="/static/extra.css" />

<title>GraphQL ReadyMade Web</title>

<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/simple-sidebar.css" rel="stylesheet" />